* {
  float: none;
  background: #fff;
  color: #000;
}

body { font-size: 80%; }
/*
     FILE ARCHIVED ON 20:50:23 Jan 18, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:31:57 Dec 21, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 79.822
  exclusion.robots: 0.069
  exclusion.robots.policy: 0.059
  cdx.remote: 0.052
  esindex: 0.009
  LoadShardBlock: 36.822 (3)
  PetaboxLoader3.datanode: 48.291 (4)
  load_resource: 126.36
*/